.page-profile {
  display: flex;
  flex-wrap: wrap;
}
.page-main-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - #{$aside-width});
  padding: 63px 0 0;
  @media #{$M_XS} {
    width: 100%;
  }
}
.profile-section {
  width: 100%;
  margin-top: 60px;
  padding: 0 50px 65px;
  border-bottom: 1px solid $gray-E8;
  color: $gray-6D;
  &:first-of-type {
    margin-top: 0;
  }
  &.active {
    color: $black-20;
    & .edit-btn { display: none;}
    & .btn-group { display: flex;}
  }
  @media #{$M_XS} {
    padding: 0 20px 65px;
  }
  & h3 {
    margin-bottom: 10px;
  }
  & .edit-btn {
    display: block;
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-size: 14px;
    color: $blue-66;
  }
  & .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    & .group-label {
      display: block;
      width: 46.479%;
      margin-left: 7%;
      margin-bottom: 26px;
      &.lrg {
        width: 100%;
      }
      &:nth-of-type(odd) {
        margin-left: 0;
      }
      @media #{$M_XS} {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
      & > p {
        margin-bottom: 4px;
        font-size: 12px;
        font-family: $font-secondary-light;
        color: $gray-6D;
      }
      & textarea {
        resize: none;
        overflow: hidden;
        white-space: nowrap;
      }
      & .input {
        display: flex;
        width: 100%;
        height: 36px;
        font-family: $font-secondary;
        font-size: 16px;
        color: inherit;
        border: none;
        outline: none;
        border-bottom: 1px solid;
        @include placeholder{
          font-family: $font-secondary;
          font-size: 16px;
          color: $gray-BC;
        }
      }
      & .sub-label {
        display: block;
        position: relative;
        margin-top: 22px;
        padding-left: 30px;
        padding-top: 2px;
        font-family: $font-secondary;
        font-size: 14px;
        color: $gray-6D;
        & i {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          border: 1px solid $gray-D3;
          background-color: $white;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        &:hover {
          i {
            border-color: $orange-FC;
          }
        }
        & input {
            display: none;
          &[type="checkbox"] {
            &:checked ~ i {
              background-image: svg-load('../images/icon_checked.svg', fill = $white);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-color: $orange-FC;
              border-color: $orange-FC;
            }
          }
        }
      }
      & .profile-counter {
        position: absolute;
        bottom: 0;
        right: 0;
        font-family: $font-secondary-light;
        font-size: 13px;
        color: $gray-6D;
      }
    }
  }
  & .btn-group {
    display: none;
    margin-top: 30px;
    & button {
      &[type="submit"] {
        padding: 0 24px;
      }
      &[type="reset"] {
        height: 30px;
        width: auto;
        margin-left: 30px;
        font-size: 14px;
        font-family: $font-secondary-light;
        color: $black-20;
        &:hover {
          color: $gray-6D;
        }
        &:active {
          color: $gray-D3;
        }
      }
    }
  }
  & .social-group {
    display: flex;
    margin-top: 36px;
    @media #{$M_SMX} {
      flex-wrap: wrap;
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      padding: 0 25px;
      margin-right: 20px;
      font-family: $font-secondary-light;
      font-size: 14px;
      background-position: 10px 50%;
      background-repeat: no-repeat;
      color: inherit;
      border: 1px solid;
      &:hover {
        background-color: $black-20;
      }
      &:active {
        background-color: $gray-D3;
      }
      &:hover,
      &:active {
        color: $white;
        &.facebook {
          background-image: svg-load('../images/icon_facebook-social.svg', fill = $white);
        }
        &.vk {
          background-image: svg-load('../images/icon_vk-social.svg', fill = $white);
        }
        &.ok {
          background-image: svg-load('../images/icon_ok-social.svg', fill = $white);
        }
      }
      &.facebook {
        background-image: svg-load('../images/icon_facebook-social.svg', fill = $gray-A8);
      }
      &.vk {
        background-image: svg-load('../images/icon_vk-social.svg', fill = $gray-A8);
      }
      &.ok {
        background-image: svg-load('../images/icon_ok-social.svg', fill = $gray-A8);
      }
      @media #{$M_SMX} {
        margin-bottom: 10px;
      }
    }
  }
  & .radio-group {
    margin-top: 35px;
    & .radio-label {
      display: block;
      position: relative;
      margin-bottom: 40px;
      padding-left: 30px;
      & input {
        &[type="radio"] { display: none;}
        &[type="radio"]:checked ~ i {
          &:before {
            display: block;
          }
        }
      }
      & span {
        font-size: 16px;
        font-family: $font-secondary;
      }
      & > p {
        margin-top: 10px;
        font-family: $font-secondary-light;
        font-size: 13px;
      }
      & i {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border: 1px solid;
        @include border-radius($full-round);
        cursor: pointer;
        &:before {
          content: '';
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          height: 10px;
          width: 10px;
          @include border-radius($full-round);
          background-color: $gray-6D;
          overflow: hidden;
        }
      }
    }
  }
  & .checkbox-group {
    & .checkbox-label {
      display: block;
      position: relative;
      font-size: 13px;
      font-family: $font-secondary-light;
      padding-left: 30px;
      margin-bottom: 10px;
      & i {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      & input {
        &[type="checkbox"] {
          display: none;
          &:checked ~ i {
            background-image: url(../images/icon_check-gray.png);
          }
        }
      }
    }
  }
}

.profile-section-wr {
  width: 100%;
  padding: 0 50px 70px;
  border-bottom: 1px solid $gray-B3;
  @media #{$M_SMX} {
    padding: 0 30px 70px;
  }
  @media #{$M_XS} {
    padding: 0 10px 50px;
  }
  & .search-result {
    width: 100%;
    padding-bottom: 20px;
    font-family: $font-base-bold;
    font-size: 30px;
    color: $black-20;
    border-bottom: 1px solid $gray-8F;
    & .val {
      color: $gray-6D;
    }
  }
  & .add-btn {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: 40px;
    padding: 70px 25px 75px;
    background-color: $gray-FC;
    border: 1px solid $gray-E0;
    cursor: pointer;
    &:hover {
      background-color: $white;
      border-color: transparent;
      -webkit-box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow:    0px 9px 24px 0px rgba(0, 0, 0, 0.35);
      box-shadow:         0px 9px 24px 0px rgba(0, 0, 0, 0.35);
      & .icon {
        background-image: url(../images/icon_addbook-hover.png);
      }
    }
    & .inner-wr {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: auto;
      width: 220px;
      text-align: center;
    }
    & .icon {
      height: 108px;
      width: 79px;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url(../images/icon_addbook.png);
      -webkit-background-size: cover;
      background-size: cover;
    }
    & .title {
      margin-top: 35px;
      font-family: $font-base-bold;
      font-size: 30px;
      color: $black-20;
    }
    & .text {
      margin-top: 20px;
      line-height: 1.4em;
      font-family: $font-secondary;
      font-size: 14px;
      color: $gray-6D;
    }
  }
  & .pagination {
    width: 100%;
    margin: 10px 0 -55px;
    &:after {
      display: none;
    }
  }
}
.notification-result {
  font-family: $font-base-bold;
  font-size: 30px;
  & .val {
    color: $gray-6D;
  }
}
.profile-sort-toolbar {
  display: flex;
  align-items: baseline;
  margin-top: 40px;
  @media #{$M_SM} {
    flex-wrap: wrap;
    & .sort-list {
      margin-left: 0 !important;
      margin-top: 20px;
      & .dropdown-list {
        padding-left: 10px;
      }
    }
  }
  @media #{$M_XS} {
    margin-top: 25px;
  }
  &.mail-sort {
    padding-bottom: 24px;
    border-bottom: 1px solid $gray-8F;
  }
  & .sort-list {
    margin-left: 30px;
  }
  &__search-bar {
    width: 100%;
  }
  & .mail-checkbox {
    margin-right: auto;
  }
}
.mail-checkbox {
  position: relative;
  padding-left: 19px;
  cursor: pointer;
  & .label-text {
    display: block;
    margin-top: 2px;
    margin-left: 15px;
    font-size: 14px;
    font-family: $font-secondary;
    color: $blue-66;
  }
  & i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border: 1px solid $gray-77;
  }
  & input {
    display: none;
    &:checked ~ i {
      &:before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 10px;
        margin: auto;
        content: svg-load('../images/icon_check.svg', fill = $black-20);
      }
    }
  }
}
.books-result-wr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &.book {
    @media #{$M_XS} {
      width: 80%;
      margin: -5px auto 0;
    }
    @media #{$M_X3S} {
      width: 100%;
      & .title {
        font-size: 30px !important;
      }
    }
  }
  @media #{$M_XS} {
    margin-top: -5px;
  }
  & .recipe-section {
    padding: 0;
    margin-top: 30px;
    @media #{$M_SM2X} {
      justify-content: center;
      margin-top: 0;
    }
    @media #{$M_SMX} {
      & .section-bl {
        & .inner {
          &__info {
            display: block !important;
          }
        }
      }
    }
    @media #{$M_X2SS} {
      & .section-bl {
        & .overflow-wr {
          & .inner {
            &__info {
              & .date {
                font-size: 14px;
              }
            }
            & .title {
              top: 80px;
            }
          }
        }
      }
    }
    & .section-bl {
      @media #{$M_XS} {
        height: auto !important;
        width: 100% !important;
        padding-bottom: 50%;
      }
      @media #{$M_X2SS} {
        padding-bottom: 100%;
      }
    }
  }
  & .section-bl {
    & .overflow-wr {
      & .category {
        z-index: 3;
      }
      & .overlay {
        z-index: 0;
      }
      & .inner {
        top: 0;
        bottom: 0;
        &__info {
          top: initial;
          bottom: 15px;
          & .row {
            font-size: 13px;
          }
        }
        & .title {
          position: absolute;
          top: 100px;
          left: 0;
          right: 0;
          @media #{$M_SM2X} {
            max-height: initial;
          }
          @media #{$M_X2S} {
            & h1,
            & h2,
            & h3 {
              font-size: 30px;
              line-height: 30px;
            }
          }
        }
      }
    }
    &:hover {
      & .overflow-wr {
        & .inner {
          top: 0;
        }
      }
    }
  }
  & .item-addbook {
    align-items: flex-start;
    align-content: flex-start;
    & .title {
      margin-top: 40px;
    }
    & .text {
      margin-top: 17px;
    }
  }
  & .item,
  & .section-bl {
    padding-bottom: 56.339%;
    margin-right: 4.227%;
    margin-top: 30px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    @media #{$M_SM2X} {
      margin: 30px auto 0 !important;
      height: 400px;
    }
    &:nth-child(2n) {
      margin-right: 0;
      @media #{$M_SM2X} {
        margin: 30px auto;
      }
    }
    &.item-sm,
    &.bl-min {
      width: 240px;
    }
    &.banner {
      display: block;
    }
    &.item-result {
      @media #{$M_XS} {
        padding-bottom: 100%;
      }
    }
    &.bl-lrg {
      @media #{$M_XS} {
        padding-bottom: 50%;
      }
      @media #{$M_X2SS} {
        padding-bottom: 100%;
      }
    }
    &.item-result,
    &.bl-lrg {
      display: table;
      position: relative;
      width: 61.972%;
      color: $white;
      z-index: 1;
      @media #{$M_SM2X} {
        width: 440px;
      }
      @media #{$M_XSMS} {
        width: 100%;
      }
      @media #{$M_XS} {
        width: 100%;
        height: auto;
      }
      &:hover {
        & .overlay {
          top: 0;
        }
      }
      &.brown {
        & .overlay {
          background-color: rgba(78, 41, 4, 0.9);
        }
      }
      &.orange {
        & .overlay {
          background-color: rgba(204, 56, 19, 0.9);
        } 
      }
      &.green {
        & .overlay {
          background-color: rgba(135, 169, 52, 0.9);
        } 
      }
      & .title {
        position: absolute;
        top: 35px;
        left: 30px;
        right: 30px;
        font-size: 40px;
        font-family: $font-base-bold;
        color: $white;
      }
      & .overflow-inner {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      & .overlay {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        transition: 0.2s;
      }
      & .item-bot {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 5px;
        left: 30px;
        right: 30px;
        padding: 15px 0;
        font-family: $font-secondary;
        border-top: 1px solid $white;
        z-index: 3;
        @media #{$M_XS} {
          flex-wrap: wrap;
        }
        & .num {
          font-size: 14px;
          margin-right: auto;
          @media #{$M_XSM} {
            font-size: 12px;
          }
          & .val {
            padding-right: 5px;
          }
        }
        & .edit,
        & .remove {
          position: relative;
          margin-left: 30px;
          padding-left: 26px;
          font-size: 13px;
          @media #{$M_XSM} {
            font-size: 11px;
          }
          @media #{$M_X3S} {
            margin-left: 0;
          }
          & i {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 19px;
            width: 15px;
            margin: auto 0;
            background-repeat: no-repeat;
          }
          & a {
            font-family: inherit;
            font-size: inherit;
            border-bottom: 1px dashed $white;
            color: inherit;
            &:hover {
              border-bottom-color: transparent;
            }
          }
        }
        & .edit {
          & i {
            background-image: svg-load('../images/icon_edit.svg', fill = $white);
          }
        }
        & .remove {
          & i {
            background-image: svg-load('../images/icon_basket.svg', fill = $white);
          }
        }
      }
    }
    &.item-result {
      @media #{$M_XS} {
        &.brown {
          & .item-bot {
            background-color: rgba(78, 41, 4, 0.9);
          }
        }
        &.orange {
          & .item-bot {
            background-color: rgba(204, 56, 19, 0.9);
          } 
        }
        &.green {
          & .item-bot {
            background-color: rgba(135, 169, 52, 0.9);
          } 
        }
        & .item-bot {
          left: 0;
          right: 0;
          bottom: 0;
          padding: 15px 30px;
          border-top: transparent;
        }
        & .overlay {
          top: 0;
          background-color: rgba(0,0,0,0.2) !important;
        }
      }
      @media #{$M_X2SS} {
        & .item-bot {
          & .edit,
          & .remove {
            font-size: 0;
            margin-left: 15px;
          }
        }
      }
    }
    &.item-addbook {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 60px 30px 10px;
      text-align: center;
      border: 1px solid $gray-E0;
      background-color: $gray-FC;
      cursor: pointer;
      &:hover {
        background-color: $white;
        border-color: transparent;
        -webkit-box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow:    0px 9px 24px 0px rgba(0, 0, 0, 0.35);
        box-shadow:         0px 9px 24px 0px rgba(0, 0, 0, 0.35);
        & .icon {
          background-image: svg-load('../images/icon_addbook.svg', fill = $black-20);
        }
      }
      & .icon {
        height: 108px;
        width: 79px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: svg-load('../images/icon_addbook.svg', fill = $gray-E0);
        background-size: cover;
        transition: 0.2s;
      }
      & .title {
        margin-top: 35px;
        font-family: $font-base-bold;
        font-size: 30px;
        color: $black-20;
      }
      & .text {
        margin-top: 20px;
        line-height: 1.4em;
        font-family: $font-secondary;
        font-size: 14px;
        color: $gray-6D;
      }
    }
  }
}
.nofitication-result {
  font-size: 30px;
  font-family: $font-base-bold;
  color: $black-20;
  & .val {
    color: $gray-6D;
  }
}
.mail-inbox {
  &__item {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $gray-E8;
    &:last-of-type {
      border-bottom-color: transparent;
    }
    &.active {
      & .Rcol {
        & .mail-top {
          &__title {
            color: $black-20;
          }
        }
        & .mail-body {
          display: block;
        }
      }
    }
    &.visited {
      & .Rcol {
        & .mail-top {
          &__title {
            font-family: $font-secondary;
            color: $black-20;
          }
        }
      }
    }
    & .Lcol {
      display: flex;
      & .item-pic {
        position: relative;
        height: 50px;
        width: 50px;
        margin-left: 37px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        @include border-radius($full-round);
        overflow: hidden;
        @media #{$M_XSM} {
          margin-left: 20px;
        }
      }
      & .mail-checkbox {
        & i {
          top: 16px;
        }
      }
    }
    & .Rcol {
      display: flex;
      flex-wrap: wrap;
      margin-left: 15px;
      & .mail-top {
        &__title {
          margin-top: 7px;
          font-size: 16px;
          font-family: $font-secondary-bold;
          color: $blue-66;
          &:hover {
            opacity: 0.85;
          }
          & a {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
          }
        }
        &__date {
          margin-top: 5px;
          font-family: $font-secondary;
          font-size: 13px;
          color: $black-20;
        }
      }
      & .mail-body {
        display: none;
        margin-top: 25px;
        line-height: 1.4em;
        font-family: $font-secondary;
        font-size: 16px;
        color: $black-20;
        @media #{$M_X3S} {
          margin-left: -65px;
        }
      }
    }
  }
}