.header {
  position: relative;
  display: flex;
  height: auto;
  width: 100%;
  padding: 10px 40px 10px;
  border-bottom: 2px solid $black-20;
  background-color: $white;
  z-index: 3;
  @media #{$M_SMX} {
    align-items: center;
    padding: 10px 30px;
    height: 110px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background-color: $white;
    }
  }
  @media #{$M_XS} {
    padding: 10px;
  }
  &__logo {
    position: relative;
    height: 83px;
    width: 170px;
    min-width: 170px;
    margin-right: 30px;
    margin-top: 5px;
    text-align: left;
    @media #{$M_SMX} {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      margin: 5px auto 0;
      z-index: 3;
    }
    & a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      background-image: url(../images/icon_main-logo.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      z-index: 2;
    }
  }
  &__nav-wr {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    z-index: 50;
    @media #{$M_SMX} {
      position: absolute;
      top: 100%;
      left: 0;
      width: 334px;
      padding: 0 30px;
      background-color: $white;
      border-top: 1px solid $gray-EA;
      @include transform-translateY(-100%);
      z-index: 1;
      &.active {
        transition: transform 0.5s ease-out 0;
        @include transform-translateY(0);
      }
    }
    @media #{$M_X3S} {
      width: 100%;
      padding: 0 20px;
    }
  }
  &__nav-main {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 9px;
    border-bottom: 1px solid $gray-EA;
    @media #{$M_SMX} {
      order: 2;
      padding-bottom: 30px;
    }
    & .nav-main-list {
      &__item {
        display: inline-block;
        margin-right: 22px;
        &:last-of-type { margin-right: 0;}
        @media #{$M_SMX} {
          margin-right: 15px;
          &:last-of-type {
            margin-right: 0;
          }
        }
        & a {
          font-size: 16px;
          line-height: 22px;
          color: $gray-6D;
          &:hover {
            color: $black-20;
          }
        }
      }
    }
  }
  &__nav-category {
    display: flex;
    width: 100%;
    margin-top: 25px;
    padding-bottom: 14px;
    @media #{$M_SMX} {
      order: 1;
      padding-bottom: 25px;
    }
    & .nav-category-list {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      @media #{$M_SMX} {
        flex-wrap: wrap;
      }
      &__item {
        display: inline-block;
        margin-right: auto;
        font-size: 20px;
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          color: $gray-6D;
        }
        @media #{$M_SMX} {
          margin-bottom: 30px;
          width: 100%;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        & a {
          font-size: inherit;
          text-transform: uppercase;
          color: inherit;
        }
      }
    }
  }
  & .user-logged {
    position: relative;
    &__wr {
      position: relative;
      display: flex;
      align-items: center;
      padding-right: 35px;
      font-family: $font-secondary;
      cursor: pointer;
      @media #{$M_XS} {
        padding-right: 0;
      }
      &:after {
        display: block;
        position: absolute;
        content: svg-load('../images/icon_select.svg', fill = $black-20);
        height: 18px;
        width: 10px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        @media #{$M_XS} {
          display: none;
        }
      }
      & .user-pic {
        position: relative;
        height: 28px;
        width: 28px;
        @include border-radius($full-round);
        background-position: 0 0;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        & .notification {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: -13px;
          height: 18px;
          width: 18px;
          font-size: 11px;
          background-color: $orange-FC;
          color: $white;
          @include border-radius($full-round);
        }
      }
      & .user-name {
        margin-left: 10px;
        font-size: 14px;
        color: $orange-FC;
        @media #{$M_XS} {
          display: none;
        }
      }
    }
    & .dropdown-list {
      display: none;
      position: absolute;
      right: -40px;
      top: calc(100% + 6px);
      height: auto;
      width: 230px;
      padding-top: 30px;
      background-color: $white;
      z-index: 12;
      -webkit-box-shadow: -2px 9px 24px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow:    -2px 9px 24px 0px rgba(0, 0, 0, 0.35);
      box-shadow:         -2px 9px 24px 0px rgba(0, 0, 0, 0.35);
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: -10px;
        right: 36px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8.5px 10px 8.5px;
        border-color: transparent transparent $white transparent;
      }
      @media #{$M_XS} {
        top: calc(100% + 15px);
        right: -10px;
      }
      &__item {
        position: relative;
        width: 100%;
        padding: 0 40px 0 30px;
        margin-bottom: 25px;
        font-size: 18px;
        font-family: $font-base;
        color: $gray-69;
        &.logout-btn {
          margin-bottom: 0;
          padding: 20px 40px 20px 30px;
          border-top: 1px solid #e7e7e7;
        }
        &:before {
          display: block;
          position: absolute;
          right: 40px;
          width: 14px;
          z-index: 1;
        }
        &.cookbook {
          &:before {
            content: svg-load('../images/icon_cookbook.svg', fill = $gray-6D);
          }
        }
        &.likes {
          &:before {
            content: svg-load('../images/icon_like-filled.svg', fill = $gray-6D);
          }
        }
        &.notifications {
          &:before {
            content: svg-load('../images/icon_ring.svg', fill = $gray-6D);
          }
          &.active {
            & a {
              color: $orange-FC;
            }
            &:before {
              content: svg-load('../images/icon_ring.svg', fill = $orange-FC);
            }
            &:hover {
              &:before {
                content: svg-load('../images/icon_ring.svg', fill = $orange-FC);
              }
            }
          }
        }
        &:hover {
          &.cookbook {
            &:before {
              content: svg-load('../images/icon_cookbook.svg', fill = $black-20);
            }
          }
          &.likes {
            &:before {
              content: svg-load('../images/icon_like-filled.svg', fill = $black-20);
            }
          }
          &.notifications {
            &:before {
              content: svg-load('../images/icon_ring.svg', fill = $black-20);
            }
          }
        }
        & a {
          display: block;
          position: relative;
          width: 100%;
          padding-right: 20px;
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          z-index: 2;
          &:hover {
            color: $black-20;
          }
        }
      }
    }
  }
}
.log-in {
  display: block;
  margin-left: auto;
  &.mobile {
    display: none;
    z-index: 3;
  }
  & a {
    font-size: 15px;
    &:hover {
      color: $orange-FC;
    }
  }
  @media #{$M_SMX} {
    &.mobile {
      display: block;
    }
    &.desktop {
      display: none;
    }
  }
}
.dropdown.active {
  & .dropdown-list {
    display: block;
  }
}
.btn-header-mobile {
  display: none;
  position: relative;
  min-height: 100%;
  width: 50px;
  z-index: 3;
  &.active {
    & .inner {
      height: 36px;
    }
    & span {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: 0.2s;
      &:first-of-type {
        @include transform-rotate(-45deg);
      }
      &:nth-of-type(2n) { display: none;}
      &:last-of-type {
        @include transform-rotate(45deg);
      }
    }
  }
  @media #{$M_SMX} {
    display: block;
  }
  & .inner {
    position: absolute;
    height: 23px;
    width: 36px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    cursor: pointer;
    & span {
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 100%;
      left: 0;
      right: 0;
      background-color: $black-20;
      &:first-of-type { top: 0;}
      &:nth-of-type(2n) { top: 10px;}
      &:last-of-type { bottom: 0;}
    }
  }
}