.popup-wr {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  z-index: 999;
  background-color: rgba(0,0,0,0.85);
  &.active {
    display: block;
  }
}
.text-page {
  width: 100%;
  padding: 50px;
  font-family: $font-secondary;
  font-size: 16px;
  border-bottom: 1px solid $gray-E8;
  @media #{$M_XSM} {
    padding: 20px 30px 50px !important;  
  }
  @media #{$M_XS} {
    padding: 30px 10px 30px !important;
  }
  &:last-of-type {
    border-bottom: 1px solid $gray-B3;
  }
  &:first-of-type {
    padding: 0 50px 50px;
    @media #{$M_XSM} {
      padding: 0 30px 50px !important;
    }
    @media #{$M_XS} {
      padding: 0 10px 30px !important;
    }
  }
  & .article {
    margin-bottom: 50px;
  }
  & p {
    font-size: 16px;
    line-height: 1.4em;
  }
  & a {
    font-family: inherit;
    font-size: inherit;
    color: $blue-66;
    &:hover {
      color: $black-20;
    }
    &:active {
      color: $gray-82;
    }
  }
  & h1,
  & h2 {
    margin-bottom: 28px;
  }
  & h3,
  & h4,
  & h5 {
    margin-bottom: 21px;
    margin-top: 21px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
.page-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../images/main_bg.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-color: $gray-2B;
}
body {
  &.active {
    .bg-link {
      display: block;
    }
  }
  &.overflow {
    padding-right: 15px;
    overflow: hidden;
  }
}
.bg-link {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.page-inner-wr {
  position: relative;
  height: auto;
  min-height: 100vh;
  max-width: 1050px;
  margin: 0 auto;
  background-color: $white;
  z-index: 3;
  @media #{$M_SMX} {
    width: 100%;
  }
}
.page-top {
  display: table;
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom: 26.667%;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  &__user-info {
    display: flex;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: -17px;
    @media #{$M_XS} {
      left: 20px;
      right: 20px;
    }
  }
  &__user-pic {
    height: 147px;
    width: 147px;
    min-width: 147px;
    @include border-radius($full-round);
    overflow: hidden;
    @media #{$M_XS} {
      height: 100px;
      width: 100px;
      min-width: 100px;
    }
  }
  &__user-main {
    position: relative;
    padding-top: 40px;
    margin-left: 42px;
    overflow: hidden;
    @media #{$M_XS} {
      position: absolute;
      left: 0;
      bottom: -60px;
      padding-top: 0;
      padding-right: 45px;
      margin-left: 0;
    }
    & .mobile-trigger {
      display: none;
      position: absolute;
      right: 0;
      top: 6px;
      height: 20px;
      width: 45px;
      &:before {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 10px;
        width: 10px;
        background-image: svg-load('../images/icon_select.svg', fill = $white);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      &.active {
        &:before {
          @include transform-rotate(180deg);
          transition: rotate 0.2s;
        }
      }
      @media #{$M_XS} {
        display: block;
      }
    }
  }
  &__user-name {
    font-family: $font-base-bold;
    font-size: 40px;
    white-space: nowrap;
    color: $white;
    @media #{$M_XS} {
      font-size: 30px;
    }
    &.menu {
      font-size: 0;
      color: transparent;
      @media #{$M_XS} {
        font-size: 30px;
        color: $white;
      }
    }
  }
  &__user-status {
    margin-top: 6px;
    font-family: $font-secondary;
    font-size: 14px;
    color: $white;
  }
}
.page-body {
  z-index: 1;
}
.page-aside {
  height: auto;
  min-height: 100%;
  width: 240px;
  padding: 60px 25px 60px 40px;
  background-color: $black-20;
  @media #{$M_XS} {
    width: 100%;
    padding: 100px 25px 30px 20px;
  }
  @media #{$M_X3S} {
    padding: 100px 25px 10px 20px;
  }
  &__list {
    display: block;
    @media #{$M_XS} {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &__item {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    color: $gray-6D;
    & span {
      padding-left: 5px;
    }
    &:before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 14px;
      z-index: 1;
    }
    &.cookbook {
      &:before {
        content: svg-load('../images/icon_cookbook.svg', fill = $gray-69);
      }
      &.active {
        &:before {
          content: svg-load('../images/icon_cookbook.svg', fill = $white);
        }
      }
    }
    &.likes {
      &:before {
        content: svg-load('../images/icon_like-filled.svg', fill = $gray-69);
      }
      &.active {
        &:before {
          content: svg-load('../images/icon_like-filled.svg', fill = $white);
        }
      }
    }
    &.notifications {
      &:before {
        right: 1px;
        content: svg-load('../images/icon_ring.svg', fill = $gray-69);
      }
      &.active {
        &:before {
          content: svg-load('../images/icon_ring.svg', fill = $orange-FC);
        }
      }
    }
    &:hover {
      &.cookbook {
        &:before {
          content: svg-load('../images/icon_cookbook.svg', fill = $white);
        }
      }
      &.likes {
        &:before {
          content: svg-load('../images/icon_like-filled.svg', fill = $white);
        }
      }
      &.notifications {
        &:before {
          content: svg-load('../images/icon_ring.svg', fill = $white);
        }
      }
    }
    & a {
      display: block;
      position: relative;
      width: 100%;
      padding-right: 15px;
      font-family: inherit;
      font-size: inherit;
      color: $gray-6D;
      z-index: 2;
      &:hover {
        color: white;
      }
    }
    &.active {
      & > a {
        color: $white;
      }
    }
    & .list {
      margin-left: 10px;
      &__item {
        margin-top: 15px;
        font-size: 14px;
        font-family: $font-secondary;
        line-height: 1.3em;
        color: $gray-6D;
        &.active {
          & a {
            color: $white;
          }
        }
      }
    }
  }
}

h1, h2, h3 { font-family: $font-base-bold;}
h4, h5, h6 { font-family: $font-base; font-weight: 100;}
h1 { font-size: 60px; line-height: 68px;}
h2 { font-size: 40px; line-height: 40px;}
h3 { font-size: 30px; line-height: 32px;
  @media #{$M_SMX} {
    font-size: 28px;
  }
}
h4 { font-size: 24px; line-height: 26px;}
h5 { font-size: 20px; line-height: 24px;}
h6 { font-size: 18px; line-height: 30px;}

.btn {
  position: relative;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  overflow: hidden;
  font-size: 15px;
  font-family: $font-base;
  color: $white;
  cursor: pointer;
  @include border-radius($btn-default);
  @media #{$M_XSM} {
    font-size: 14px;
  }
  &:active {
    transform: translateY(2px);
  }
}
.btn-default {
  background-color: $black-20;
  &:hover {
    background-color: $gray-6D;
  }
  &:active {
    background-color: $gray-D3;
  }
}
.btn-secondary {
  background-color: $white;
  color: $black-20;
  border: 1px solid $black-20;
  &:hover {
    border-color: transparent;
    background-color: $black-20;
    color: $white;
  }
  &:active {
    background-color: $gray-D3;
  }
}

.btn-submit {
  background-color: transparent;
  border: 1px solid $gray-D3;
  color: $gray-DF;
  &:hover {
    background-color: $black-20;
    border-color: $black-20;
    color: $white;
  }
}

.section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
  & a {
    &:hover {
      color: $gray-6D;
    }
    &:active {
      color: $gray-D3;
    }
  }
}
.slider-default {
  margin-top: 60px;
  & .custom-controls {
    & .custom-prev,
    & .custom-next {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 50px;
      margin: auto 0;
      z-index: 9;
      font-size: 0;
      color: transparent;
      background-repeat: no-repeat;
      background-position: 0 50%;
      cursor: pointer;
      &:before,
      &:after {
        display: block;
        position: absolute;
        content: '';
        height: 1px;
        width: 6px;
        background-color: $gray-8F;
      }
      span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        top: 28px;
        background-color: $gray-8F;
      }
      &:hover {
        transition: 0.1s;
        width: 65px;
        &:before,
        &:after,
        span {
          background-color: $black-20;
        }
      }
      &:active {
        &:before,
        &:after,
        span {
          background-color: $gray-D3;
        }
      }
    }
    & .custom-prev {
      left: 0;
      &:before {
        left: 0;
        top: 26px;
        @include transform-rotate(-40deg);
      }
      &:after {
        left: 0;
        bottom: 27px;
        @include transform-rotate(40deg);
      }
    }
    & .custom-next {
      right: 0;
      &:before {
        right: 0;
        top: 26px;
        @include transform-rotate(40deg);
      }
      &:after {
        right: 0;
        bottom: 27px;
        @include transform-rotate(-40deg);
      }
    }
  }
}
.section-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: auto;
  margin: 0 40px;
  @media #{$M_SMX} {
    margin: 0 30px;
  }
  @media #{$M_X3S} {
    margin: 0 10px;
  }
  &.short {
    margin: 0 140px;
    @media #{$M_XS} {
      margin: 0 90px;
    }
    @media #{$M_X2SS} {
      margin: 0 10px;
    }
  }
  & .sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 50px;
    font-size: 20px;
    font-family: $font-base;
    text-align: center;
    color: $gray-6D;
    z-index: 2;
    transition: 0.2s;
    & .border {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $gray-8F;
      transition: 0.2s;
    }
    &:hover {
      color: $black-20;
    }
    &:active {
      color: $gray-D3;
    }
    & a {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      &:hover ~ .border {
        opacity: 0;
      }
    }
  }
}
.search-bar-default {
  position: relative;
  display: flex;
  height: 40px;
  background-color: $gray-F9;
  @include border-radius(40px);
  & i.icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    height: 22px;
    width: 22px;
    margin: auto 0;
    background: svg-load('../images/icon_search.svg', fill = $gray-B6);
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
    &:hover {
      background: svg-load('../images/icon_search.svg', fill = $black-20);
    }
  }
  &.add-bar {
    margin-left: 25px;
    & i {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      height: 13px;
      width: 14px;
      margin: auto 0;
      &:before {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 1px;
        margin: auto;
        background-color: $black-20;
      }
      &:after {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        margin: auto;
        background-color: $black-20;
      }
    }
  }
  &.remove-bar {
    margin-left: 10px;
    & i {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      height: 13px;
      width: 13px;
      margin: auto 0;
      &:after {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        margin: auto;
        background-color: $black-20;
      }
    }
  }
  &.add-bar,
  &.remove-bar {
    & input {
      &:focus {
        transition: 0.2s;
        padding: 0 10px 0 15px;
      }
      &:focus ~ i {
        display: none;
      }
    }
  }
  & input,
  & select {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 55px;
    font-size: 16px;
    font-family: $font-secondary;
    border: none;
    outline: none;
    background-color: transparent;
    @include border-radius(40px);
    border: 1px solid $gray-B6;
    z-index: 2;
    cursor: pointer;
    -webkit-appearance: textfield;
    &[type="search"]::-webkit-search-decoration,
    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-results-button,
    &[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
    &:focus ~ i.icon {
      background: svg-load('../images/icon_search.svg', fill = $black-20);
    }
    &:hover,
    &:focus {
      border-color: $black-20;
    }
    @include placeholder {
      font-size: 16px;
      font-family: $font-secondary;
      color: $gray-82;
    }
    @media #{$M_XS} {
      padding: 0 10px 0 48px;
      @include placeholder {
        font-size: 14px;
      }
    }
  }
}
.search-bar-custom {
  position: relative;
  display: flex;
  height: 40px;
  background-color: $gray-F9;
  @media #{$M_XSM} {
    margin: 15px 20px 0 0 !important;
  }
  @media #{$M_X2SS} {
    width: 100%;
  }
  & .selectize-dropdown,
  & .selectize-input,
  & .selectize-input input {
    font-size: 16px;
  }
  & .selectize-control {
    height: 40px;
    width: 250px;
    font-family: $font-secondary;
    &.single {
      & .selectize-input {
        &:after {
          display: none;
        }
      }
    }
    @media #{$M_X2SS} {
      width: 100%;
    }
    & .selectize-input {
      height: 100%;
      width: 100%;
      padding: 0 15px 0 45px;
      border: 1px solid $gray-B6;
      background-color: transparent;
      @include border-radius(40px);
      box-shadow: none;
      &.input-active {
        padding: 0 15px 0 15px;
      }
      &.dropdown-active {
        @include border-radius(20px 20px 0 0);
        border: 1px solid $black-20;
        border-bottom: none;
      }
      & .item {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
      }
      & input {
        width: 100% !important;
      }
    }
    & .selectize-dropdown {
      padding-top: 10px;
      @include border-radius(0 0 20px 20px);
      overflow: hidden;
      border: 1px solid $black-20;
      border-top: none;
      & .option {
        padding: 8px 15px;
      }
    }
  }
  & i.icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    height: 22px;
    width: 22px;
    margin: auto 0;
    background: svg-load('../images/icon_search.svg', fill = $gray-B6);
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
    &:hover {
      background: svg-load('../images/icon_search.svg', fill = $black-20);
    }
  }
  &.add-bar {
    margin-left: 25px;
    & i {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      height: 13px;
      width: 14px;
      margin: auto 0;
      &:before {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 1px;
        margin: auto;
        background-color: $black-20;
      }
      &:after {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        margin: auto;
        background-color: $black-20;
      }
    }
  }
  &.remove-bar {
    margin-left: 10px;
    & i {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      height: 13px;
      width: 13px;
      margin: auto 0;
      &:after {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        margin: auto;
        background-color: $black-20;
      }
    }
  }
  &.add-bar,
  &.remove-bar {
    & select {
      &:focus {
        transition: 0.2s;
        padding: 0 10px 0 15px;
      }
      &:focus ~ i {
        display: none;
      }
    }
  }
  & select,
  & input {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 55px;
    font-size: 16px;
    font-family: $font-secondary;
    border: none;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-appearance: textfield;
    &[type="search"]::-webkit-search-decoration,
    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-results-button,
    &[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
    &:focus ~ i.icon {
      background: svg-load('../images/icon_search.svg', fill = $black-20);
    }
    &:hover,
    &:focus {
      border-color: $black-20;
    }
    @include placeholder {
      font-size: 16px;
      font-family: $font-secondary;
      color: $gray-82;
    }
  }
}
.ui-datepicker {
  display: none;
  width: 304px;
  padding: 20px 45px 25px;
  background-color: $white;
  -webkit-box-shadow: 0px 16px 9px 0px rgba(50, 50, 50, 0.09);
  -moz-box-shadow:    0px 16px 9px 0px rgba(50, 50, 50, 0.09);
  box-shadow:         0px 16px 9px 0px rgba(50, 50, 50, 0.09);
  & .ui-datepicker-header {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 45px;
    text-align: center;
    & .ui-datepicker-prev,
    & .ui-datepicker-next {
      position: absolute;
      top: 0;
      height: 5px;
      width: 10px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background-image: svg-load('../images/icon_select.svg', fill = $black-20);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      cursor: pointer;
      font-size: 0;
    }
    & .ui-datepicker-prev {
      left: 40px;
      @include transform-rotate(90deg);
    }
    & .ui-datepicker-next {
      right: 40px;
      @include transform-rotate(-90deg);
    }
  }
  & .ui-datepicker-calendar {
    width: 100%;
    font-size: 14px;
    font-family: $font-secondary-light;
    & thead {
      padding-bottom: 8px;
      color: $gray-82;
    }
    & td {
      height: 30px;
      width: 30px;
      text-align: center;
      @include border-radius($full-round);
      cursor: pointer;
      &:hover {
        background-color: $gray-E8;
      }
      &:active {
        background-color: $orange-FC;
        color: $white;
      }
      & a {
        color: inherit;
      }
    }
    & th {
      font-weight: normal;
    }
  }
}